<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <%- include("./partials/nav") %>

        <div class="container mt-5">
            <h1 class="text-center mb-4">URL Shortener</h1>
            <div class="form-container">
                <form action="/url" method="post" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="url-input" class="form-label">Enter URL here</label>
                        <input type="url" class="form-control" id="url-input" name="url"
                            placeholder="https://example.com" required>
                        <div class="invalid-feedback">
                            Please enter a valid URL.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Generate</button>
                </form>
            </div>
        </div>

        <% if (locals.id) { %>
            <p>URL Generated: <a href="<%= `${BASE_URL}/url/${id}` %>" target="_blank">
                    <%= id %>
                </a></p>
            <% } %>

                <% if (locals.urls && locals.urls.length> 0) { %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">SL No</th>
                                <th scope="col">ShortId</th>
                                <th scope="col">Redirect URL</th>
                                <th scope="col">Clicks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% urls.forEach((url, index)=> { %>
                                <tr>
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <td>
                                        <a href="<%= `${BASE_URL}/url/${url.shortId}` %>" target="_blank">
                                            <%= url.shortId %>
                                        </a>
                                    </td>
                                    <td>
                                        <%= url.redirectURL %>
                                    </td>
                                    <td>
                                        <%= url.visitHistory.length %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <% } else { %>
                        <p>No URLs generated yet.</p>
                        <% } %>

                            <%- include("./partials/script") %>
</body>

</html>